@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/***
 * BOOTSTRAP OVERRIDE
 *--------------------------------------------------------------------------- */
 /* Space out content a bit */
 body { padding-top: 20px; padding-bottom: 20px; }

 /* Supporting marketing content */
 .marketing { margin: 40px 0; padding-left: 15px; padding-right: 15px; }
 .marketing p + h4 { margin-top: 28px; }

 /* Extend bootstrap's navbar collapsable buttons classes */
 .navbar-toggle { border-color: #ddd; margin-right: 0px; }
 .navbar-toggle .icon-bar { background-color: #888; }

/***
 * CUSTOM STYLES
 *--------------------------------------------------------------------------- */
body { font-family: 'Merriweather', Georgia, Times; font-size: 16px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Merriweather', Georgia, Times; font-weight: 700;}

blockquote p { font-size: 16px; line-height: 1.6em; }

/* Masthead */
.header, .footer, .social, .header h3, .header h4 { font-family: 'Montserrat', Helvetica, sans-serif; text-transform: uppercase; font-weight: normal; }
.social a.social-item { text-decoration: none; color: inherit; }
.footer p { font-family: 'Montserrat', Helvetica, sans-serif; text-transform: none; font-weight: normal; }

/* Custom page header */
.header { padding-left: 0px; padding-right: 0px; border-bottom: 1px solid #e5e5e5; }

/* Make the masthead heading the same height as the navigation */
.navbar-title { margin: 8px 0px 0px 8px; line-height: 40px; padding-bottom: 15px; }

/* Navigation */
h3.text-muted a, h4.text-muted a { text-decoration: none; color: #999999; }
h3.text-muted a:hover, h4.text-muted a:hover { text-decoration: none; color: #0088cc; }

/* Custom page footer */
.footer { padding-left: 15px; padding-right: 15px; padding-top: 19px; color: #777; border-top: 1px solid #e5e5e5; }

/* override the dt inside dl.dl-horizontal */
.dl-horizontal dt { text-align: left; }

/* Avatar image */
img.avatar { margin-bottom: 30px; width: 250px; }

/* Custom container */
.container > hr { margin: 30px 0; }
.container > hr.footer {margin-bottom: 15px; }
.container-narrow > hr { margin: 30px 0; }

/* E-Mail */
.obfuscate { unicode-bidi: bidi-override; direction: rtl; }

/* Jumbotron */
.jumbotron { margin: 80px 0; }
.jumbotron h1 { font-size: 72px; line-height: 1; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }
.marketing p { line-height: 25px; }
.marketing p.lead { line-height: 30px; }

/* Notes */
.notelist { width: 90%; margin: 0 auto; }
ul.listnotes { margin: 0 auto; }
ul.listnotes li {line-height: 30px; }

/* Note */
.note, .contact, .projects, .about, .error, .swatches { width: 90%; margin: 0 auto; line-height: 26px; }
.note h2.date, .swatch-log h2.date { font-size: 24.5px; font-weight: 300; font-style: italic; }
.projects p.title, p.project-title { font-family: 'Montserrat', Helvetica, sans-serif; text-transform: uppercase; }
.projects p.description, p.project-description { margin-left: 20px; }

/* Swatches */
.swatch-log h2.date { margin-bottom: 30px; }
.swatch-log { margin: 30px auto 70px; height: 140px; }
ul.swatch { list-style: none; margin: 0 auto; padding: 0; height: 50px; }
ul.swatch li { text-transform: uppercase; display: inline; float: left; height: 80px; width: 75px; text-indent: -9999px; font-size: 14px; text-align: center; font-family: 'Montserrat', Helvetica, sans-serif; background-image: url(/img/glass.png); background-repeat: repeat-x; background-position: 0 50%;}
ul.swatch li:hover { height: 75px; width: 75px; vertical-align: middle; text-indent: 0; }
/*
ul.swatch li:last-child { webkit-border-top-right-radius: 9px; -webkit-border-bottom-right-radius: 9px; -moz-border-radius-topright: 9px; -moz-border-radius-bottomright: 9px; border-top-right-radius: 9px; border-bottom-right-radius: 9px; }
ul.swatch li:first-child { webkit-border-top-left-radius: 9px; -webkit-border-bottom-left-radius: 9px; -moz-border-radius-topleft: 9px; -moz-border-radius-bottomleft: 9px; border-top-left-radius: 9px; border-bottom-left-radius: 9px; }
*/
.swatch-log p { font-size: 14px; clear: left; margin-top: 10px; font-family: 'Montserrat', Helvetica, sans-serif; text-transform: uppercase; }
.clear { clear: both; height: 20px; }

/* Home */
.home p { margin-bottom: 20px; line-height: 25px; }
.home p:last-child { margin-bottom: 0px; }

/* CV */
.cv {line-height: 23px; width: 90%; margin: 0 auto;}
.cv li { line-height: 23px; }
.cv h2 { font-size: 26.5px; }
.cv h1 { font-size: 32.5px; }

.notes, .contact, .about, .cv, .error, .swatches { margin-bottom: 30px; }

/* Contact */
iframe {font-family: 'Merriweather', Georgia, Times; font-size: 16px;}

/* About */
.about ul.list-unstyled li { line-height: 30px; text-indent: -30px; margin-left: 30px;}

/* Guides */
.guide { width: 90%; margin: 0 auto 60px auto; line-height: 26px;}
.guide .title { padding: 100px 30px 0px; width: 90%; height: 60%; margin-bottom: 40px; background: #d5d5d5; color: #428bca; }
.guide .title h1 { font-size: 46px; color: #181818; }
.guide p { margin: 0 0 1em;  }
.guide img { border: solid 1px #d5d5d5; border-radius: 4px; margin: 40px auto; display: block; }
.guide .notes { font-size: 12px; }
.guide .notes h2 { font-size: 14px; }

/* Code */
pre.prettyprint { padding: 10px !important; margin: 40px; font-size: 12px;}

.step { border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 35px;
	height: 35px;
	background: #4679BD;
	color: #FFF;
	float: left;
	text-align: center;
	font-size: 24px;
	padding-top: 5.5px;
	margin: 5px 15px 0px 0px;
	font-family: 'Montserrat', Helvetica, sans-serif; }

.ml5 { margin-left: 5px; }
.mr5 { margin-right: 5px; }
.ml10 { margin-left: 10px; }
.mr10 { margin-right: 10px; }
.ml15 { margin-left: 15px; }
.mr15 { margin-right: 15px; }
.ml20 { margin-left: 20px; }
.m15 { margin: 15px; }

/* fontawesome icons color */
.twitter-color { color: #00aced; }
.linkedin-color { color: #007bb6; }
.stackoverflow-color { color: orange; }
.angellist-color { color: #000000; }
.github-color { color: #000000; }
.rss-color { color: orange; }


/***
 * MEDIA SCREEN QUERIES
 *--------------------------------------------------------------------------- */

/* Large desktops and laptops */
@media (min-width: 1200px) {
	/* empty */
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	/* empty */
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) {
	.container { max-width: 860px; }
	.dl-horizontal dd { margin-left: 200px; }
	.dl-horizontal dt { width: 190px; }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
	.navbar-container li { width: 100%; }
	.navbar-title { font-size: 18px; }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) {
	.container { max-width: 860px; }
	.dl-horizontal dd { margin-left: 200px; }
	.dl-horizontal dt { width: 190px; }
	/* Remove the padding we set earlier */
	.marketing, .footer { padding-left: 0; padding-right: 0; }
	/* Space out the masthead */
	.header { margin-bottom: 30px; }
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron { border-bottom: 0; }
}

/* Portrait phones and smaller */
/* Origianl max-width is 450px */
@media (max-width: 430px) {
	.marketing { margin: 0px; }
	img.avatar { width: 150px; }
	body { font-size: inherit; }
	.marketing { margin: 20px 0; padding: 0px; }
}

/* Extremely small devices */
@media (max-width: 360px) {
	body { font-size: 7px; }
	.header { padding-left: 10px; padding-right: 10px; }
	.container { margin: 0 auto; padding-left: 5px; padding-right: 5px; }
	.marketing { margin: 0px; padding: 0px; }
	.footer { padding: 5px 5px 5px 5px; }
	img.avatar { width: 75px; }

	p, span, li, a, article, input, label, button, info { font-size: 7px; }
	h1, h2, h3, h4, h5, h6, .header h3, p.lead, p.lead span { font-size: 10px; }
	h3.navbar-title a { font-size: 10px; }

	p, span, li, h1, h2, h3, h4, h5, h6,
	.header h3, h3.text-muted a, h4.text-muted a, .marketing p.lead, p.lead, .home p, .marketing p, ul.listnotes li { line-height: 11px; }

	.navbar-toggle { padding: 3px 6px; }
	.navbar-toggle .icon-bar { width: 8px; height: 1px; }

}
