---
layout: default
title: Projects
cv: passive
blog: passive
home: passive
contact: passive
projects: active
description: Projects of Ahmad Alhour, a Software Engineer at TrustYou.
---

<div class="projects">
	<h3>My Open-Source Projects:</h3>
	<br />

	{% for project in site.data.projects %}
		{% if project.contribution_type == "owner" %}
			<p class=""><strong><span>{{ project.title }}{% if project.subtitle != "" %},&nbsp;{{ project.subtitle }}{% endif %}</span>,&nbsp;<a target="_blank" href="{{ project.link }}">{{ project.linktitle }}</a>.</strong></p>
			<p class="ml20">{{ project.long_description }}</p>

			<br/>
		{% endif %}
	{% endfor %}

	<hr /><br />

	<h3>Contributions to Other Projects:</h3>
	<br />

	{% for project in site.data.projects %}
		{% if project.contribution_type == "contributor" %}
			<p class=""><strong><span>{{ project.title }}{% if project.subtitle != "" %},&nbsp;{{ project.subtitle }}{% endif %}</span>,&nbsp;<a target="_blank" href="{{ project.link }}">{{ project.linktitle }}</a>.</strong></p>
			<p class="ml20">{{ project.long_description }}</p>

			<br/>
		{% endif %}
	{% endfor %}

	<p>For a complete list of my open-source contributions, please refer to my GitHub account: <a href="https://github.com/aalhour" title="github.com/aalhour" target="_blank">github.com/aalhour</a></p>
</div>
