---
layout: single
title: Projects
permalink: /projects/
description: Open Source Projects and Contributions
author_profile: true
header:
  show_overlay_excerpt: false
  overlay_image: /assets/images/unsplash-image-3.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
---

<div class="projects">
	<h3>My Open-Source Projects</h3>
	<br/>

	{% for project in site.data.projects %}
		{% if project.contribution_type == "owner" %}
			<p>
				<a target="_blank" href="{{ project.link }}"><strong>{{ project.title }}</strong></a>{% if project.subtitle != "" %},&nbsp;<strong>{{ project.subtitle }}</strong>{% endif %}
				<br />
				<span>{{ project.long_description }}</span>
			</p>
		{% endif %}
	{% endfor %}

	<hr />

	<h3>Other Open-Source Contributions</h3>
	<br />

	{% for project in site.data.projects %}
		{% if project.contribution_type == "contributor" %}
			<p>
				<a target="_blank" href="{{ project.link }}"><strong>{{ project.title }}</strong></a>{% if project.subtitle != "" %}<strong>,&nbsp;{{ project.subtitle }}</strong>{% endif %}
				<br/>
				<span>{{ project.long_description }}</span>
			</p>
		{% endif %}
	{% endfor %}

	<p>For a complete list of my open-source contributions, please refer to my GitHub account: <a href="https://github.com/aalhour" title="github.com/aalhour" target="_blank">github.com/aalhour</a></p>
</div>
