---
title: "Talks"
layout: single
permalink: /talks/
author_profile: true
header:
  show_overlay_excerpt: false
  overlay_image: /assets/images/unsplash-image-3.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
---
{% for talk in site.data.talks_trainings %}
    <div class="media">
        <div class="image">
            <a href="{{ talk.video_link }}">
                <img class="rounded-corners" src="{{ talk.thumbnail }}" alt="[Thumbnail]" width="64" height="64">
            </a>
        </div>
    
        <div class="description">
            <h4><a href="{{ talk.video_link }}">{{ talk.title }}</a></h4>
            <h4>{{ talk.location }}{% if talk.link_to_slides == "true" %}&nbsp;(<a href="{{ talk.speakerdeck_link }}">Slides</a>){% endif %}</h4>
            <span>{{ talk.description }}</span>
        </div>
    </div>
{% endfor %}
