# Site settings
title: Ahmad Alhour
subtitle: Random thoughts on writing software, math and books!
masthead_title: "AAlhour"
description: Ahmad Alhour's personal website
url: https://aalhour.com
logo: http://aalhour.com/favicon.ico
title_separator: "|"
locale: en
timezone: Europe/Berlin
repository: aalhour/aalhour.github.io
date_format: "%Y-%m-%d"
permalink: /blog/:title
lsi: false
safe: true
markdown: kramdown
incremental: true
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge
  # input: GFM
# baseurl: "/" # the subpath of your site, e.g. /blog/

# Author profile
author:
  name      : "Ahmad Alhour"
  avatar    : "/assets/images/me.jpg"
  bio       : "Random thoughts on writing software, math and books."
  location  : "Germany"
  links:
    - label : "Twitter"
      icon  : "fab fa-fw fa-twitter-square"
      url   : "https://twitter.com/ahmad_alhour"
    - label : "GitHub"
      icon  : "fab fa-fw fa-github"
      url   : "https://github.com/aalhour/"
    - label : "LinkedIn"
      icon  : "fab fa-fw fa-linkedin"
      url   : "https://www.linkedin.com/in/aalhour/"
    - label : "Mastodon"
      icon  : "fab fa-fw fa-mastodon"
      url   : "https://hachyderm.io/@aalhour"

social:
  type: Person
  name: Ahmad Alhour
  links:
    - "https://github.com/aalhour/"
    - "https://twitter.com/ahmad_alhour"
    - "https://www.linkedin.com/in/aalhour/"

# Site's themes
theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "dark" # "default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site's defaults
collections:
  portfolio:
    # output an index.html page for each project in _portfolio/
    output: true
    permalink: /:collection/:path/

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      show_date: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: false
      share: true
  # _tag_archive
  - scope:
      path: ""
      type: tag
    values:
      author_profile: true
      comments: false
  # _category_archive
  - scope:
      path: ""
      type: category
    values:
      layout: archive-taxonomy
      author_profile: true
      comments: false

# Search Settings
search: true
# lunr:
#   search_within_pages: true
#   search_full_content: true
algolia:
  application_id: B9MM80G8SS
  index_name: blog_index
  search_only_api_key: 4b47ee8242b2c4cfec23e9c5c0303630
  powered_by: true

# Pagination Settings
pagination:
  enabled: true
  debug: false
  collection: 'posts'
  per_page: 10
  permalink: '/page/:num/' # Pages are index.html inside this folder (default)
  #permalink: '/page/:num.html' # Pages are simple html files 
  #permalink: '/page/:num' # Pages are html files, linked jekyll extensionless permalink style.
  title: ':title - page :num/:max'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  category: 'posts'
  tag: ''
  locale: '' 
  # Optional,omit or set both before and after to zero to disable. 
  # Controls how the pagination trail for the paginated pages look like. 
  trail: 
    before: 2
    after: 2

  # Optional, the default file extension for generated pages (e.g html, json, xml).
  # Internally this is set to html by default
  extension: html

  # Optional, the default name of the index file for generated pages (e.g. 'index.html')
  # Without file extension
  indexpage: 'index'

# Taxonomy & Archive Settings
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# Compression Settings
compress_html:
  clippings: all
  ignore:
    envs: development  # disable compression in dev environment

# Site's Gems
plugins:
  - jekyll-seo-tag
  - jekyll-gzip
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-include-cache
  - jekyll-gist

# Jekyll::Gzip Configuration
gzip:
  extensions:
    - '.html'
    - '.css'
    - '.js'
    - '.txt'
    - '.ttf'
    - '.atom'
    - '.stl'
    - '.xml'
    - '.svg'
    - '.eot'
    - '.png'
    - '.jpg'
    - '.jpeg'
    - '.woff2'

include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - _site
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gemfile.lock
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
  - CNAME
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
