{% assign include_path = include.include_path %}
{% capture usage_marker %}<!-- animation: {{ include_path }} -->{% endcapture %}
{% assign usage_count = 0 %}

{% for post in site.posts %}
  {% if post.content contains usage_marker %}
    {% assign usage_count = usage_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% if usage_count > 0 %}
  <div class="animation-posts-label">Used in:</div>
  <ul class="animation-card-posts-list">
    {% for post in site.posts %}
      {% if post.content contains usage_marker %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
