<div class="page__footer-follow">
    <ul class="social-icons">
        <center>
            {% for link in site.footer.links %}
                {% if link.url %}
                    <li>
                        <a href="{{ link.url }}" rel="nofollow noopener noreferrer">
                        <i class="{{ link.icon }}"></i>
                        {{ link.label }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </center>
    </ul>
</div>