<div class="footer">
	<div class="row">
		<div class="col-md-8 col-sm-8 col-xs-7">
			<div class="row">
				<li class="fa fa-rss"></li>&nbsp;<small class="rss-subscribe">&nbsp;<a target="_blank" title="RSS Feed" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></small>&nbsp;<span>&nbsp;|&nbsp;</span>
				<li class="fa fa-github"></li>&nbsp;<small>&nbsp;<a target="_blank" title="My GitHub account" href="https://github.com/aalhour">github</a></small>&nbsp;<span>&nbsp;|&nbsp;</span>
				<li class="fa fa-linkedin"></li>&nbsp;<small>&nbsp;<a target="_blank" title="My LinkedIn account" href="https://linkedin.com/in/aalhour">linkedin</a></small>&nbsp;<span>&nbsp;|&nbsp;</span>
				<li class="fa fa-twitter"></li>&nbsp;<small>&nbsp;<a target="_blank" title="My Twitter account" href="https://twitter.com/ahmad_alhour">twitter</a></small>
			</div>
		</div>

		<div class="col-md-4 col-sm-4 col-xs-5">
			<p class="pull-right"><small>&copy;&nbsp;AALHOUR&nbsp;{{ site.time | date: '%Y' }}</small></p>
		</div>
	</div>
</div> <!-- /footer -->
