<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Ahmad Alhour">

	<link rel="shortcut icon" href="/favicon.ico">

	<title>{% if page.title %}{{ page.title }} | {% endif %}Ahmad Alhour</title>

	<!-- Styles -->
	<link rel="stylesheet" href="/css/bootstrap-5.2.3.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/fontawesome.all.min.css" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="/css/style.css" crossorigin="anonymous"> -->
	
	{% feed_meta %}
	{% seo %}
</head>
