---
layout: default
title: CV
cv: active
blog: passive
home: passive
contact: passive
projects: passive
description: Current CV for Ahmad Alhour, a Software Engineer living and working in Athens, Greece.
---

<div class="cv">
	<a href="/files/cv.pdf" class="btn btn-default pull-right" title="Download CV as PDF">Download CV</a>
	<div itemscope itemtype="http://data-vocabulary.org/Person">
		<h1><span itemprop="name">Ahmad Alhour</span></h1>
		<address>
			<span itemprop="affiliation"><strong>Consolidated Contractors Company, Offshore S.A.L</strong><br></span>
			62B Kifissias Avenue, Marousi 15125, Athens, Greece.<br/>
			<abbr title="Phone">P:</abbr> (+30) 693 423 9173<br>
			<span class="obfuscate">moc.liamg@ruohla.z.a</span>
		</address>
	</div>
			
	<p>A software engineer with a B.Sc. degree in Computer Science. Involved in full-stack software development (web &amp; desktop). Geek at heart, math-hobbyist, team-spirited and an aspiring professional.</p>
	
	<br/>

	<!-- WORK HISTORY -->
	<h2>Professional Employment</h2>

	<!-- Employer -->
	<p>
		<strong>Software Engineer in R&amp;D, <a target="_blank" href="http://www.ccc.me"><abbr title="Consolidated Contractors Company, Offshore S.A.L">CCC</abbr></a>. Athens, Greece. 2012 - Present.</strong>
	</p>
	<ul>
		<li>Full-stack involvement, using mainly C#, .NET, and JavaScript.</li>
		<li>Co-developed a billing app for various telephony providers such as: MS Lync, and Asterisk. <a target="_blank" href="https://github.com/Software-Repos/iBill">@Github</a>.</li>
		<li>Developed an MVC web-app for managing the corporate contacts directory.</a></li>
		<li>Designed and developed RESTful APIs for various in-house applications.</li>
		<li>Developed a simple desktop app for simulating mail-phishing attacks.</li>
		<li>Developed an iOS App using the Appcelerator Titanium platform using JavaScript.</li>
		<li>Wrote various automation tools using shell scripts (bash).</li>
		<li>Managing Atlassian products, such as: Jira, Confluence, Fisheye, Stash.</li>
		<li>Installation and basic administration of CentOS Linux servers.</li>
	</ul>
	
	<!-- Employer -->
	<p><strong>Software Engineer, <a target="_blank" href="http://www.d1g.com">D1G</a>. Amman, Jordan. 2011 - 2012.</strong></p>
	<ul>
		<li>Developed interactive UI widgets on D1G.com for Ads clients.</li>
		<li>Developed an MVC app using <abbr title="Ruby On Rails">ROR</abbr> for publishing Ads on D1G.com in real-time.</li>
		<li>Developed public RESTful APIs via <abbr title="Ruby On Rails">ROR</abbr> to support consuming D1G.com content.</li>
	</ul>
			
	<!-- Employer -->
	<p><strong>Web Developer, <a target="_blank" href="http://www.communitiestech.com/">CommunitiesTech</a>. Amman, Jordan. 2008 - 2011.</strong></p>
	<ul>
		<li>Worked on a part-time contract.</li>
		<li>Web development of the Bangaia.com platform, using mainly PHP, and MySQL.</li>
		<li>Created a PHP library for developing REST Web-Services via <abbr title="PHP PRADO Framework">PRADO</abbr>.</li>
		<li>Integrated Rackspace Cloud Services with Bangaia.com assets management.</li>
	</ul>
	
	<br/>

	<!-- Education -->
	<h2>Education</h2>
	
	<p>
		<strong>B.Sc. in Computer Science, <abbr title="Princess Sumaya University for Technology">PSUT</abbr>,&nbsp;Amman, Jordan, 2007-2011.</strong>
		<br/>
		<a target="_blank" href="http://www.psut.edu.jo/">University Website</a>
	</p>

	<br />

	<!-- SKILLS -->	
	<h2>Skills and Expertise</h2>
	<dl class="dl-horizontal">
		<dt>Human Languages</dt>
		<dd>Arabic (Mother Tongue), English (Fluent), Greek (Basic)</dd>
	</dl>
	
	<dl class="dl-horizontal">
		<dt>Computer Languages,<br />Proficient</dt>
		<dd>C#, JavaScript, Ruby (Past Work), PHP (Past Work)</dd>
	</dl>

	<dl class="dl-horizontal">
		<dt>Computer Languages,<br />Basic Familiarity</dt>
		<dd>Bash, Python, Java, C/C++, Scheme</dd>
	</dl>

	<dl class="dl-horizontal">
		<dt>Other/Markup</dt>
		<dd>SQL, (X)HTML, CSS, XML</dd>
	</dl>
	
	<dl class="dl-horizontal">
		<dt>Frameworks</dt>
		<dd>ASP.NET, MVC.NET, Ruby on Rails (Past Work), Ext.NET, Twitter Bootstrap</dd>
	</dl>

	<dl class="dl-horizontal">
		<dt class="text-left">Source Control</dt>
		<dd>Git, GitHub, SVN, Atlassian Stash, Jira, FishEye</dd>
	</dl>
	
	<dl class="dl-horizontal">
		<dt>OS/Environments</dt>
		<dd>Mac OSX, CentOS Linux, Windows, MS SQL Server, MySQL (Past Work)</dd>
	</dl>

	<dl class="dl-horizontal">
		<dt>Publishing Tools</dt>
		<dd>WordPress, Drupal, LimeSurvey</dd>
	</dl>

	<dl class="dl-horizontal">
		<dt>Areas of Expertise<br/>and Interest</dt>
		<dd>Web Apps (proficient), Desktop Apps (basic), System Administration (basic), Computer Algorithms (well), Machine Learning (basic)</dd>
	</dl>

	<br />

	<!-- OPEN SOURCE -->
	<h2>Open-Source Projects and Contributions</h2>
	
	{% for item in site.data.projects %}
		<p class=""><strong><span>{{ item.title }}{% if item.subtitle != null and item.subtitle != "" %},&nbsp;{{ item.subtitle }}{% endif %}</span>,&nbsp;<a target="_blank" href="{{ item.link }}">{{ item.linktitle }}</a>.</strong></p>
		<p class="ml20">{{ item.description }}</p>
		
		<br/>
	{% endfor %}

	<br />
	<!-- REFERENCES -->
	<h2>References</h2>

	<p><strong>Saddam Abu Ghaida</strong>, Sr. Engineer / Tech Lead, CCC, 2012 - Present.<a class="pull-right" target="_blank" href="mailto:sghaida@ccc.gr">sghaida@ccc.gr</a></p>

	<p><strong>Wael Farhan</strong>, Sr. Engineer / Tech Lead, D1G Corp, 2011 - 2012.<a class="pull-right" target="_blank" href="mailto:wyfarhan@gmail.com">wyfarhan@gmail.com</a></p>	
	<br/>
</div>
